/*==========================
Base Element Styles
===========================*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

p, label {
	font-size: 1em;
	margin-bottom: 1em;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 100%;
  padding: 0 1em 3em;
  margin: 0;
  background: #f4f7f8;
}

legend {
  font-size: 1.4em;
  padding: 30px 0 10px;
  font-weight: bold;
}

a {
	text-decoration: none;
}

/* =================================
  Header
==================================== */
header {
  background:
              linear-gradient(#4bc970, transparent 90%),
              #4bc970 url(../img/informatics.jpg) center;
  background-size: cover;
  padding: 20px 0;
	text-align: center;
  height: auto;
  z-index: 3;
}

.title {
  margin: 0;
  color: azure;
  text-transform: uppercase;
}

/* =================================
  Tagline
==================================== */
.tagline {
  padding: .83em 0;
  text-align: center;
  border-bottom: 4px solid black;
}

.tagline h2 {
  margin-bottom: .1em;
}

.tagline p {
  margin-top: 0;
}

/* =================================
  Form
==================================== */
form {
	border-top: 2px solid black;
	margin: 1% 0 0 0;
	padding: 2% 0 0 0;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

form .contact-info{
  border-bottom: 2px solid black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 0 30px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #474c4f;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.contact-details input:placeholder-shown {
  opacity: .6;
  font-style: italic;
  text-align: center;
}

.contact-details input:focus,
.contact-details select:focus,
.newsletter textarea:focus {
  background: #d7fccf;
  font-size: 1em;
  transition: all .5s;
}



input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.contact-details label {
  display: block;
  margin-bottom: 8px;
}

.newsletter label .light {
  font-weight: 300;
  display: inline;
}

.copyright {
  margin-top: 3em;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {

  .container {
    width: 60%;
		margin: 0 auto;
  }

  .contact-details {
    display: flex;
    align-items: center;
  }
  .contact-details label {
    margin-bottom: 30px;
    width: 45%;
    justify-content: space-between;
  }

  .contact-details input,
  .contact-details select {
    justify-content: space-between;
  }

  .contact-details input:placeholder-shown {
      font-style: normal;
      text-align: right;
  }

}
